@import "bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  background-image: url("./helpers/healthcare-technology-doctor-using-digital-tablet-icon-medical-network-hospital-background-162019727.jpg");
} */

.container {
  /* border: 2px solid red; */
  text-align: left;
  margin: auto;
  margin-top: 19px;
}

.box {
  /* border: 2px solid red; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name-box {
  /* border: 2px solid red; */
  padding: 0.3rem 1rem;
  margin-top: 1rem;
  color: purple;
  border: 10px solid pink;
  border-image: repeating-linear-gradient(
      45deg,
      purple,
      purple 1%,
      pink 1%,
      pink 8%
    )
    10;
  color: purple;
}

.img {
  width: 160px;

  color: pink;
  border: 10px solid pink;
  border-image: repeating-linear-gradient(
      45deg,
      pink,
      pink 1%,
      purple 1%,
      purple 8%
    )
    10;
}

.img:hover {
  border-image: repeating-linear-gradient(
      45deg,
      purple,
      purple 1%,
      pink 1%,
      pink 8%
    )
    10;
  color: purple;
}

/* .asd{
  display: none;
} */

.liste {
  display: flex;
  justify-content: space-between;
  margin: 1.4rem 6rem;
  /* border: 2px solid red; */
  padding: 0.5rem 3rem;
  background-color: rgb(155, 119, 173);
  border-radius: 5rem;

  /* text-decoration: line-through; */
}

h2 {
  color: green;
}
.durum {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bilgi {
  width: 300px;
}
h3 {
  color: rgb(155, 119, 173);
}

.liste-hasta {
  display: flex;
  justify-content: space-between;
  margin: 1.4rem 6rem;
  /* border: 2px solid red; */
  padding: 0.3rem 1rem;
  background-color: rgb(155, 119, 173);

  border-radius: 3rem;
}
.liste-hasta h2 {
  font-size: 20px;
}

.img1 {
  width: 160px;
  color: pink;
  border: 10px solid pink;
  border-image: repeating-linear-gradient(
      45deg,
      purple,
      purple 1%,
      pink 1%,
      pink 8%
    )
    10;
  color: purple;
}

.icon{
top: 20px;
}